{% extends './layouts/layout.njk' %}

{% block pageTitle %}Guidance for farmers - {{ serviceName }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div>
        <span class="govuk-caption-xl">Collection</span>
        <h1 class="govuk-heading-xl">Annual health and welfare review of livestock</h1>
      </div>
      <p class="govuk-body govuk-!-font-size-24">
      Farmers who keep cattle, sheep and pigs can get funding to pay for a vet to visit their farm and carry out an annual health and welfare review.
      </p>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-s">From: <a class="govuk-link govuk-!-font-weight-bold" href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs">Department for Environment, Food &amp; Rural Affairs</a> and <a class="govuk-link govuk-!-font-weight-bold" href="https://www.gov.uk/government/organisations/rural-payments-agency">Rural Payments Agency</a></p>
      <p class="govuk-body">
        A health and welfare review of livestock provides funding for a vet, or team chosen by a vet, to visit a farm and carry out a health and welfare review of beef or dairy cattle, sheep or pigs.
      </p>

      <p class="govuk-body">The review will help:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>reduce endemic diseases and conditions</li>
        <li>increase animal productivity</li>
        <li>improve animal welfare</li>
      </ul>
      <p class="govuk-body">
        The review is optional. It is not an inspection and will not be used for compliance or monitoring.
      </p>
      <h2 class="govuk-heading-m">Farmers</h2>
      <p class="govuk-body">Read the apply guidance to find out:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>if you’re eligible</li>
        <li>how much funding you can get</li>
      <li>what you must ask the vet to do when they’re visiting your farm</li>
      </ul>
      <p class="govuk-body">Read the claim guidance to find out:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>what information you’ll need to share when you claim</li>
        <li>what evidence you’ll need to keep</li>
      </ul>

      <ul class="gem-c-document-list govuk-!-margin-bottom-6">
        <li class="gem-c-document-list__item">
          <a class="gem-c-document-list__item-title   govuk-link" href="/apply/guidance-for-farmers">How to apply for an annual health and welfare review of livestock</a>
          <ul class="gem-c-document-list__item-metadata">
            <li class="gem-c-document-list__attribute">
              <time datetime="2016-06-27T10:29:44+00:00">22 June 2023</time>
            </li>
            <li class="gem-c-document-list__attribute">Guidance</li>     
          </ul>
        </li>
        <li class="gem-c-document-list__item">
          <a class="gem-c-document-list__item-title govuk-link" href="/apply/claim-guidance-for-farmers">How to claim for an annual health and welfare review of livestock</a>
          <ul class="gem-c-document-list__item-metadata">
            <li class="gem-c-document-list__attribute">
              <time datetime="2015-09-24T16:42:48+00:00">22 June 2023</time>
            </li>
            <li class="gem-c-document-list__attribute">Guidance</li>          
          </ul>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Vets</h2>

      <p class="govuk-body">
        Guidance on how to carry out a review including endemic disease and condition testing.
      </p>

      <ul class="gem-c-document-list">
        <li class="gem-c-document-list__item">
          <a class="gem-c-document-list__item-title   govuk-link" href="/apply/guidance-for-vet">How to carry out an annual health and welfare review of livestock</a>
          <ul class="gem-c-document-list__item-metadata">
            <li class="gem-c-document-list__attribute">
              <time datetime="2016-06-27T10:29:44+00:00">22 June 2023</time>
            </li>
            <li class="gem-c-document-list__attribute">Guidance</li>     
          </ul>
        </li>
        <li class="gem-c-document-list__item">
          <a class="gem-c-document-list__item-title govuk-link" href="/apply/test-cattle">Cattle: testing required for an annual health and welfare review</a>
          <ul class="gem-c-document-list__item-metadata">
            <li class="gem-c-document-list__attribute">
              <time datetime="2015-09-24T16:42:48+00:00">22 June 2023</time>
            </li>
            <li class="gem-c-document-list__attribute">Guidance</li>          
          </ul>
        </li>
        <li class="gem-c-document-list__item">
          <a class="gem-c-document-list__item-title govuk-link" href="/apply/test-sheep">Sheep: testing required for an annual health and welfare review</a>
          <ul class="gem-c-document-list__item-metadata">
            <li class="gem-c-document-list__attribute">
              <time datetime="2015-09-24T16:42:48+00:00">22 June 2023</time>
            </li>
            <li class="gem-c-document-list__attribute">Guidance</li>          
          </ul>
        </li>
        <li class="gem-c-document-list__item">
          <a class="gem-c-document-list__item-title govuk-link" href="/apply/test-pigs">Pigs: testing required for an annual health and welfare review</a>
          <ul class="gem-c-document-list__item-metadata">
            <li class="gem-c-document-list__attribute">
              <time datetime="2015-09-24T16:42:48+00:00">22 June 2023</time>
            </li>
            <li class="gem-c-document-list__attribute">Guidance</li>          
          </ul>
        </li>            
      </ul>    
    </div>
    <div class="govuk-grid-column-one-third">
      <hr class="related-content">
      <div class="related-content">
        <h4 class="govuk-heading-s">Related content</h4>
        <a class="gem-c-document-list__item-title govuk-link" href="/apply/guidance-for-farmers">How to apply for an annual health and welfare review of livestock</a>
        <a class="gem-c-document-list__item-title govuk-link" href="/apply/claim-guidance-for-farmers">How to claim for an annual health and welfare review of livestock</a>
        <a class="gem-c-document-list__item-title govuk-link" href="/apply/guidance-for-vet">How to carry out an annual health and welfare review of livestock</a>
      </div>
    </div>
  </div>
{% endblock %}
