{% extends './layouts/layout.njk' %}
{% block pageTitle %}Guidance for vets - {{ serviceName }}{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-!-margin-bottom-6 gem-c-organisation-logo brand--department-for-environment-food-rural-affairs">
      <a class="gem-c-organisation-logo__container gem-c-organisation-logo__link gem-c-organisation-logo__crest gem-c-organisation-logo__crest--single-identity brand__border-color" href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs">
        <span class="gem-c-organisation-logo__name">Department<br>for Environment<br>Food &amp; Rural Affairs</span>
      </a>
    </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-!-margin-bottom-6 gem-c-organisation-logo brand--rural-payments-agency">
      <a class="gem-c-organisation-logo__container gem-c-organisation-logo__link gem-c-organisation-logo__crest gem-c-organisation-logo__crest--single-identity brand__border-color" href="https://www.gov.uk/government/organisations/rural-payments-agency">
        <span class="gem-c-organisation-logo__name">Rural Payments <br>Agency</span>
      </a>
      </div>
    </div>
  </div> 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-panel govuk-panel--confirmation govuk-panel--blue govuk-!-text-align-left govuk-!-margin-bottom-7">
        <div id= "guidance" class="govuk-panel__body govuk-!-margin-bottom-3">
          Guidance
        </div>
        <h1 class="govuk-heading-xl">Recommended laboratories to carry out a Worming Treatment Check test in sheep</h1>
        <div class="govuk-panel__body">
          Published 22 June 2023
        </div>  
      </div>  

      <section class="gem-c-devolved-nations">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
          Applies to England
        </h2>
      </section>      
    </div> 
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h2 class="gem-c-contents-list__title" id="contents">Contents</h2>
      <ol class="gem-c-contents-list__list">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#apha-carmarthen-veterinary-investigation-centre">APHA Carmarthen Veterinary Investigation Centre</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#biobest-laboratories">Biobest Laboratories</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--numbered">
          <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#techion-uk-fecpak">Techion UK (FECPAK)</a>
        </li>
      </ol>
      <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-6 govuk-!-margin-bottom-6">
        <button onclick="window.print()" class="govuk-link govuk-body-s gem-c-print-link__button">Print this page</button>
      </div>
    </div> 
    <div class="govuk-grid-column-two-thirds">
      <p>The Rural Payments Agency (RPA) recommends that vets send samples to a laboratory on this list.</p>
      <p>These laboratories follow the SCOPS testing guidance for the review and meet one or more of the following specifications:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>ISO/IEC 17025 accredited</li>
        <li>UKAS accredited (UK accredited) for a worm egg count</li>
        <li>part of the <a rel="external" href="http://apha.defra.gov.uk/ahvla-scientific/vetqas/PT0114.html" class="govuk-link">Animal and Plant Health Agency (APHA) VetQAS worm eggs count proficiency scheme</a> and has provided results defined by the z-score as satisfactory</li>
      </ul>
      <p>A farmer will not be eligible for funding unless samples are tested at a laboratory that meets at least one of these specifications.</p>
      <p>If you have a question about laboratories used for review testing, or want to be added to this list, contact the RPA by email or phone.</p>
      <p>Email: <a href="mailto:ruralpayments@defra.gov.uk" class="govuk-link">ruralpayments@defra.gov.uk</a></p>
      <p>Telephone: 03000 200 301<br> Monday to Friday, 8:30am to 5pm, except bank holidays<br></p>
      <p><a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a></p>

      <h2 id="apha-carmarthen-veterinary-investigation-centre" class="govuk-heading-m govuk-!-margin-top-6">APHA Carmarthen Veterinary Investigation Centre</h2>
      <div class="govuk-inset-text">
        <p>Job’s Well Road<br>
          Johnstown<br>
          Carmarthen<br>
          SA31 3EZ<br>
        </p>
        <p>Telephone: 03000 600016</p>
        <p>Email: <a href="mailto:carmarthen@apha.gov.uk" class="govuk-link">carmarthen@apha.gov.uk</a> and <a href="mailto:carmarthenvicparasitology@apha.gov.uk" class="govuk-link">carmarthenvicparasitology@apha.gov.uk</a></p>

        <p>You should send requests to both email addresses.</p>
      </div>

      <h2 id="biobest-laboratories" class="govuk-heading-m govuk-!-margin-top-6">Biobest Laboratories</h2>
      <p>Contact Biobest Laboratories and tell them the testing is for an annual health and welfare review. They’ll provide the submission forms and sampling kits you must use.</p>
      <div class="govuk-inset-text">
        <p>6 Charles Darwin House<br> 
          The Edinburgh Technopole<br> 
          Milton Bridge<br> 
          EH26 0PY<br>
        </p>
        <p>Telephone: 0131 440 26 28</p>
        <p>Email: <a href="mailto:enquiry@biobest.co.uk" class="govuk-link">enquiry@biobest.co.uk</a></p>
      </div>

      <h2 id="techion-uk-fecpak" class="govuk-heading-m govuk-!-margin-top-6">Techion UK (FECPAK)</h2>
      <div class="govuk-inset-text">
        <p>AIEC Office<br>
          Gogerddan Campus<br>
          Aberystwyth<br>
          Ceredigion<br>
          SY23 3EE<br>
        </p>
        <p>Telephone: 01970 821 918</p>
        <p>Email: <a href="mailto:uk@techion.com" class="govuk-link">uk@techion.com</a></p>
      </div>
    </div>
  </div>  

   <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
    <div data-sticky-element="" class="app-c-contents-list-with-body__link-wrapper sticky-element--hidden sticky-element--stuck-to-window sticky-element--enabled">
      <div class="app-c-contents-list-with-body__link-container">
        <a class="govuk-link app-c-back-to-top dont-print" href="#guidance">
        <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
         <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
        </svg> 
        Back to top
        </a>
      </div>
    </div>  
    </div>
  </div>  
{% endblock %}