{% extends './layouts/layout.njk' %}

{% block pageTitle %}Cattle Numbers - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink,
	  attributes: {id: "back"}
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="POST" autocomplete="off" novalidate="novalidate">
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      {{ govukRadios(radios) }}
      {{ govukButton({
        text: "Continue",
        attributes: {id: "btnContinue"},
        preventDoubleClick: true
      }) }}
    </form>
  </div>
</div>
{% endblock %}
