{% extends './layouts/layout.njk' %}

{% block pageTitle %}Check your answers - {{ serviceName }}{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink,
	  attributes: {id: "back"}
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Check your answers</h1>

    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
      rows: listData.rows
    }) }}

    {{ govukButton({
      text: "Continue",
      href: "declaration",
      preventDoubleClick: true
    }) }}
  </div>
</div>
{% endblock %}
