{% extends './layouts/layout.njk' %}
{% block pageTitle %}Application complete - {{ serviceName }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
      titleText: "Application complete",
      html: "Your agreement number is<br><strong>" + reference + "</strong>"
    }) }}
      <p class="govuk-body">Your application is complete and you have entered an agreement with the Rural Payments Agency
        (RPA).</p>
      <p class="govuk-body">We have sent you a confirmation email and your agreement summary.</p>
      <p class="govuk-body">The agreement will be governed by the agreed
        <a href="{{ latestTermsAndConditionsUri }}">terms and conditions</a>
      </p>
      <h2 class="govuk-heading-m">What you need to do next</h2>
      <p class="govuk-body">Contact the vet to arrange a review and give them the agreement number.</p>
      <p class="govuk-body">Ask the vet to
        <a href="/apply">read the guidance on how to carry out a health and welfare review of livestock.</a>
      </p>
      <p class="govuk-body">After the vet has completed the review, you can claim your funding. Read the guidance on
        <a href="/apply/claim-guidance-for-farmers">how to claim funding for an Apply for a farming grant.</a>
      </p>
      <p class="govuk-body">You’ll need to claim your funding within 6 months of getting this agreement number.</p>
      <h2 class="govuk-heading-m">Get help with your application</h2>
      <p>Contact the RPA by phone or email if you:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>need to change your application - for example if you want to change the livestock species you’re having reviewed</li>
        <li>decide you do not want a review after you have accepted your agreement offer</li>
        <li>have a question about your application</li>
      </ul>
      <p>Have your agreement number with you when you call or include it in your email.</p>
      {{ rpaContactDetails({email: ruralPaymentsAgency.email, callChargesUri: ruralPaymentsAgency.callChargesUri, telephone: ruralPaymentsAgency.telephone}) }}
      <br/>
      <p>
        <a class='govuk-link' href={{ applySurveyUri }}>
          What did you think of this service?
        </a>
        (giving feedback takes about 5 minutes)
      </p>
      <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6">
        <button onclick="window.print()" class="govuk-link govuk-body-s gem-c-print-link__button">Print this page</button>
      </div>
    </div>
  </div>
{% endblock %}