{% extends './layouts/layout.njk' %}
{% from
"govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from
"govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from
"govuk/components/button/macro.njk" import govukButton %}
{% from
"govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from
"govuk/components/back-link/macro.njk" import govukBackLink %}
{% from
"govuk/components/input/macro.njk" import govukInput %}
{% from
"govuk/components/accordion/macro.njk" import govukAccordion %}
{%- from
"govuk/components/file-upload/macro.njk" import govukFileUpload %}
{%- from
"govuk/components/button/macro.njk" import govukButton %}
{%- from
"govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{%- from
"moj/components/multi-file-upload/macro.njk" import mojMultiFileUpload %}
{% block pageTitle %}Upload application forms - {{ serviceName }}
{% endblock %}
{% block header %}
{{
  govukHeader({
    homepageUrl: "#",
    containerClasses: "app-width-container",
    serviceName: "Farming grants service",
    serviceUrl: "#",
    navigation: [{ text: "Sign-out", href: "#" }]
  })
}}
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({ tag: { text:
"Alpha" }, html: 'This is a new service - your
<a class="govuk-link" href="#">feedback</a> will help us to improve it.' }) }}
{{
  govukBackLink({
    href: backLink,
    text: "Back"
  })
}}
{% endblock %}
{%block content%}
<div class="govuk-grid-row govuk-!-margin-top-8">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-!-font-size-36 govuk-!-margin-bottom-3">
      Claim for a Water Management Grant
    </p>
    {%if errorSummaryList.length%}
    {{
          govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorSummaryList
          })
        }}
    {%endif%}

    <h1 class="govuk-heading-xl govuk-!-margin-top-0 govuk-!-margin-bottom-4">
      Upload claim form and evidence
    </h1>
    <h1 class="govuk-heading-l govuk-!-padding-left-3 govuk-!-margin-bottom-3 govuk-!-margin-top-8">
      1. Claim form
    </h1>
    <span class="govuk-caption-m govuk-!-margin-bottom-5">Supported file types are DOC or DOCX. Maximum file size is
      20MB.
    </span>
    {{
      govukWarningText({
        text: "Do not upload scanned copies or PDFs of these
    appendix.",
        iconFallbackText: "Warning"
      })
    }}
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-6">
      {% if claim %} Files added {% else %} Upload a file {% endif %}
    </h2>
     <form method="POST" action="{{ formActionPage }}#claim" enctype="multipart/form-data">
      {{
        govukFileUpload({
          id: "claim",
          name: "claim",
          attributes:{
            accept:".doc, .docx, .xls, .xlsx"
            },
          errorMessage: errorMessage.claim
        })
      }}
      {{
        govukButton({
          id: "claimItemsButton",
          text: "Upload file",
          classes: "govuk-button--secondary",
          name: "action",
          value: "multiUpload-claim",
          attributes: {
            id: "claimItemsButton"
          }
        })
      }}
      <div class="progress-container progress-container-claim hidden">
      <progress id="progressbar-claim" max="100" value="0"></progress>
      <span id="progressbar-text-claim">0%</span>
    </div>
        </form>
    {% if claim %}
    <div class="govuk-grid-row">
      <p class="govuk-grid-column-one-quarter govuk-!-margin-bottom-0 govuk-!-margin-top-0">
        File 1
      </p>
      <p class="govuk-grid-column-one-half govuk-!-margin-bottom-0 govuk-!-margin-top-0">
        {{ claim.file_name }},
        {{ claim.file_size }}
      </p>

      <form method="POST" action="{{ formActionPage }}#claim"
        class="govuk-!-text-align-right govuk-grid-column-one-quarter govuk-!-margin-bottom-0 govuk-!-margin-top-0"
        enctype="multipart/form-data">
        {{
          govukButton({
            name: "action",
            value: "delete-claim",
            text: "Delete file",
            classes:
              "govuk-!-margin-bottom-0 govuk-!-margin-top-0 button-dressed-as-link"
          })
        }}
        {{
          govukFileUpload({
            id: "fileDelete",
            name: "fileDelete",
            classes:
              "govuk-visually-hidden govuk-!-margin-bottom-0 govuk-!-margin-top-0"
          })
        }}
        {{
          govukInput({
            label: {
              text: "",
              isPageHeading: false
            },
            id: "fileName",
            name: "fileName",
            classes:
              " govuk-visually-hidden govuk-!-margin-bottom-0 govuk-!-margin-top-0",
            value: claim.file_name
          })
        }}
      </form>
    </div>
    {% endif %}
    <hr />

    <h1 class="govuk-heading-l govuk-!-padding-left-3 govuk-!-margin-bottom-3 govuk-!-margin-top-6">
      2. Evidence
    </h1>
    <span class="govuk-caption-m">Supported file types are DOC, DOCX, XLS, XLSX, PDF, JPG, JPEG, PNG, MPG,
      MP4, WMV, MOV. Maximum file size is 20MB.

    </span>
    {{
      govukWarningText({
        text: "You must add evidence for each item you are
    claiming for.",
        iconFallbackText: "Warning",
        classes: "govuk-!-margin-top-4"
      })
    }}
    <hr />
    <div>
      <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
        Proof items have been purchased
      </h3>
      <p class="govuk-body">For example, invoices</p>
      <form action="{{ formActionPage }}#purchased" method="POST" enctype="multipart/form-data">
        {% set purchasedItemsUploadHtml %}
        {{
          govukFileUpload({
            id: "purchased",
            name: "purchased",
            classes: "moj-multi-file-upload__input",
            label: {
              text: "Upload files",
              classes: "govuk-label--m"
            },
            attributes: { multiple: "", accept:".doc,.docx,.xls,.xlsx,.pdf,.jpg,.jpeg,.png,.mpg,.mp4,.wmv,.mov"
             },
            errorMessage:errorMessage.purchased
          })
        }}
        {{
          govukButton({
            id: "purchasedItemsButton",
            name: "action",
            value: "multiUpload-purchased",
            text: "Upload file",
            classes: "govuk-button--secondary moj-multi-file-upload__button",
            attributes:{
              id:'purchasedItemsButton'
            }
          })
        }}
        {% endset %}

        {{
          mojMultiFileUpload({
            uploadedFiles: {
              heading: { text: "Files added" },
              items: []
            },
            uploadHtml: purchasedItemsUploadHtml,
            attributes:{
              accept:".doc,.docx,.xls,.xlsx,.pdf,.jpg,.jpeg,.png,.mpg,.mp4,.wmv,.mov"
            }
          })
        }}
        <div class="progress-container progress-container-purchased hidden">
          <progress id="progressbar-purchased" max="100" value="0"></progress>
          <span id="progress-text-purchased">0%</span>
        </div>
      </form>
      {% if multiForms.purchased %}
      {% for file in multiForms.purchased %}
      <hr />
      <div class="govuk-grid-row">
        <p class="govuk-grid-column-one-quarter govuk-!-margin-bottom-0 govuk-!-margin-top-0">
          File {{ loop.index }}
        </p>
        <p class="govuk-grid-column-one-half govuk-!-margin-bottom-0 govuk-!-margin-top-0">
          {{ file.file_name }},
          {{ file.file_size }}
        </p>

        <form method="POST" action="{{ formActionPage }}#purchased"
          class="govuk-!-text-align-right govuk-grid-column-one-quarter govuk-!-margin-bottom-0 govuk-!-margin-top-0"
          enctype="multipart/form-data">
          {{
            govukButton({
              name: "action",
              value: "delete-purchased",
              text: "Delete file",
              classes:
                "govuk-!-margin-bottom-0 govuk-!-margin-top-0 button-dressed-as-link"
            })
          }}
          {{
            govukFileUpload({
              id: "fileDelete",
              name: "fileDelete",
              classes:
                "govuk-visually-hidden govuk-!-margin-bottom-0 govuk-!-margin-top-0"
            })
          }}
          {{
            govukInput({
              label: {
                text: "",
                isPageHeading: false
              },
              id: "fileName",
              name: "fileName",
              classes: " govuk-visually-hidden",
              value:file.file_name
            })
          }}
        </form>
      </div>
      {% endfor %}
      {% endif %}
    </div>
    <hr />
    <div>
      <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
        Proof items have been paid for
      </h3>
      <p class="govuk-body">
        For example, recipts and bank statements(you can cross out other
        transactions)
      </p>
      <form action="{{ formActionPage }}#paid" method="POST" enctype="multipart/form-data">
        {% set paidItemsUploadHtml %}
        {{
          govukFileUpload({
            id: "paid",
            name: "paid",
            classes: "moj-multi-file-upload__input",
            label: {
              text: "Upload files",
              classes: "govuk-label--m"
            },
            attributes: { multiple: "", accept:".doc,.docx,.xls,.xlsx,.pdf,.jpg,.jpeg,.png,.mpg,.mp4,.wmv,.mov" },
            errorMessage:errorMessage.paid
          })
        }}
        {{
          govukButton({
            id: "paidItemsButton",
            name: "action",
            value: "multiUpload-paid",
            text: "Upload file",
            classes: "govuk-button--secondary moj-multi-file-upload__button",
            attributes: {
              id: "paidItemsButton"
            }
          })
        }}
        {% endset %}

        {{
          mojMultiFileUpload({
            uploadedFiles: {
              heading: { text: "Files added" },
              items: []
            },
            uploadHtml: paidItemsUploadHtml
          })
        }}
        <div class="progress-container progress-container-paid hidden">
          <progress id="progressbar-paid" max="100" value="0"></progress>
          <span id="progress-text-paid">0%</span>
        </div>
      </form>
      {% if multiForms.paid %}
      {% for file in multiForms.paid %}
      <hr />
      <div class="govuk-grid-row">
        <p class="govuk-grid-column-one-quarter govuk-!-margin-bottom-0 govuk-!-margin-top-0">
          File {{ loop.index }}
        </p>
        <p class="govuk-grid-column-one-half govuk-!-margin-bottom-0 govuk-!-margin-top-0">
          {{ file.file_name }},
          {{ file.file_size }}
        </p>

        <form method="POST" action="{{ formActionPage }}#paid"
          class="govuk-!-text-align-right govuk-grid-column-one-quarter govuk-!-margin-bottom-0 govuk-!-margin-top-0"
          enctype="multipart/form-data">
          {{
            govukButton({
              name: "action",
              value: "delete-paid",
              text: "Delete file",
              classes:
                "govuk-!-margin-bottom-0 govuk-!-margin-top-0 button-dressed-as-link"
            })
          }}
          {{
            govukFileUpload({
              id: "fileDelete",
              name: "fileDelete",
              classes:
                "govuk-visually-hidden govuk-!-margin-bottom-0 govuk-!-margin-top-0"
            })
          }}
          {{
            govukInput({
              label: {
                text: "",
                isPageHeading: false
              },
              id: "fileName",
              name: "fileName",
              classes:
                " govuk-visually-hidden govuk-!-margin-bottom-0 govuk-!-margin-top-0",
              value: file.file_name
            })
          }}
        </form>

      </div>
      {% endfor %}
      {% endif %}
    </div>
    <hr />
    <div>
      <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
        Proof items are in place
      </h3>
      <p class="govuk-body">For example, photos and videos</p>
      <form action="{{ formActionPage }}#inPlace" method="POST" enctype="multipart/form-data">
        {% set inPlaceItemsUploadHtml %}
        {{
            govukFileUpload({
              id: "inPlace",
              name: "inPlace",
              classes: "moj-multi-file-upload__input",
              label: {
                text: "Upload files",
                classes: "govuk-label--m"
              },
              attributes: { multiple: "",accept:".doc,.docx,.xls,.xlsx,.pdf,.jpg,.jpeg,.png,.mpg,.mp4,.wmv,.mov" },
              errorMessage: errorMessage.inPlace
            })
          }}
        {{
            govukButton({
              id: "inPlaceItemsButton",
              name: "action",
              value: "multiUpload-inPlace",
              text: "Upload file",
              classes: "govuk-button--secondary moj-multi-file-upload__button",
              attributes: {
                id: "inPlaceItemsButton"
              }
            })
          }}
        {% endset %}

        {{
            mojMultiFileUpload({
              uploadedFiles: {
                heading: { text: "Files added" },
                items: []
              },
              uploadHtml: inPlaceItemsUploadHtml
            })
          }}
          <div class="progress-container progress-container-inPlace hidden">
          <progress id="progressbar-inPlace" max="100" value="0"></progress>
          <span id="progress-text-inPlace">0%</span>
        </div>
      </form>
      {% if multiForms.inPlace %}
      {% for file in multiForms.inPlace %}
      <hr />
      <div class="govuk-grid-row">
        <p class="govuk-grid-column-one-quarter govuk-!-margin-bottom-0 govuk-!-margin-top-0">
          File {{ loop.index }}
        </p>
        <p class="govuk-grid-column-one-half govuk-!-margin-bottom-0 govuk-!-margin-top-0">
          {{ file.file_name }},
          {{ file.file_size }}
        </p>
        <form method="POST" action="{{ formActionPage }}#inPlace"
          class="govuk-!-text-align-right govuk-grid-column-one-quarter govuk-!-margin-bottom-0 govuk-!-margin-top-0"
          enctype="multipart/form-data">
          {{
              govukButton({
                name: "action",
                value: "delete-inPlace",
                text: "Delete file",
                classes:
                  "govuk-!-margin-bottom-0 govuk-!-margin-top-0 button-dressed-as-link"
              })
            }}
          {{
              govukFileUpload({
                id: "fileDelete",
                name: "fileDelete",
                classes:
                  "govuk-visually-hidden govuk-!-margin-bottom-0 govuk-!-margin-top-0"
              })
            }}
          {{
              govukInput({
                label: {
                  text: "",
                  isPageHeading: false
                },
                id: "fileName",
                name: "fileName",
                classes:
                  " govuk-visually-hidden govuk-!-margin-bottom-0 govuk-!-margin-top-0",
                value: file.file_name
              })
            }}
        </form>

      </div>
      {% endfor %}
      {% endif %}
    </div>
    <hr />
    <div>
      <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
        Proof conditions and outputs have been met
      </h3>
      <p class="govuk-body">
        Only for projects with grant-specefic conditions and outputs
      </p>
      <form action="{{ formActionPage }}#conditions" method="POST" enctype="multipart/form-data">
        {% set conditionsUploadHtml %}
        {{
              govukFileUpload({
                id: "conditions",
                name: "conditions",
                classes: "moj-multi-file-upload__input",
                label: {
                  text: "Upload files",
                  classes: "govuk-label--m"
                },
                attributes: { multiple: "",accept:".doc,.docx,.xls,.xlsx,.pdf,.jpg,.jpeg,.png,.mpg,.mp4,.wmv,.mov" },
                errorMessage: errorMessage.conditions
              })
            }}
        {{
              govukButton({
                name: "action",
                value: "multiUpload-conditions",
                text: "Upload file",
                classes: "govuk-button--secondary moj-multi-file-upload__button",
                attributes: {
                  id: "conditionsItemsButton"
                }
              })
            }}
        {% endset %}
        {{
              mojMultiFileUpload({
                uploadedFiles: {
                  heading: { text: "Files added" },
                  items: []
                },
                uploadHtml: conditionsUploadHtml
              })
            }}
            <div class="progress-container progress-container-conditions hidden">
          <progress id="progressbar-conditions" max="100" value="0"></progress>
          <span id="progress-text-conditions">0%</span>
        </div>
      </form>
      {% if multiForms.conditions %}
      {% for file in multiForms.conditions %}
      <hr />
      <div class="govuk-grid-row">
        <p class="govuk-grid-column-one-quarter govuk-!-margin-bottom-0 govuk-!-margin-top-0">
          File {{ loop.index }}
        </p>
        <p class="govuk-grid-column-one-half govuk-!-margin-bottom-0 govuk-!-margin-top-0">
          {{ file.file_name }},
          {{ file.file_size }}
        </p>
        <form method="POST" action="{{ formActionPage }}#conditions"
          class="govuk-!-text-align-right govuk-grid-column-one-quarter govuk-!-margin-bottom-0 govuk-!-margin-top-0"
          enctype="multipart/form-data">
          {{
                govukButton({
                  name: "action",
                  value: "delete-conditions",
                  text: "Delete file",
                  classes:
                    "govuk-!-margin-bottom-0 govuk-!-margin-top-0 button-dressed-as-link"
                })
              }}
          {{
                govukFileUpload({
                  id: "fileDelete",
                  name: "fileDelete",
                  classes:
                    "govuk-visually-hidden govuk-!-margin-bottom-0 govuk-!-margin-top-0"
                })
              }}
          {{
                govukInput({
                  label: {
                    text: "",
                    isPageHeading: false
                  },
                  id: "fileName",
                  name: "fileName",
                  classes:
                    " govuk-visually-hidden govuk-!-margin-bottom-0 govuk-!-margin-top-0",
                  value: file.file_name
                })
              }}
        </form>

      </div>
      {% endfor %}
      {% endif %}
    </div>

    {{
      govukButton({
        text: "Continue"
      })
    }}
  </div>
</div>
<script>
 function uploadProgress( progressbarId, progressbarTextId, uploadedFilesClassName, progressBarContainerClassName) {
        const progressbarValue = document.getElementById(progressbarId);
        const progressbarText = document.getElementById(progressbarTextId);
        const uploadedFiles = document.getElementsByClassName(uploadedFilesClassName);
          const progressbarContainer = document.getElementsByClassName(progressBarContainerClassName)[0];
          progressbarContainer.classList.remove('hidden')
        const total = 90;
        let loaded = 0;
        const createLoading = setInterval(()=>{
          if(loaded < 90){
            loaded += 5;
            progressbarValue.value = loaded;
            progressbarText.innerText = `${loaded}%`;
          }else{
            clearInterval(createLoading);
          }
          if(uploadedFiles.length){
              progressbarContainer.classList.add('hidden')
          }
        },300)
        return
}
document.getElementById("claimItemsButton").addEventListener("click", () => {
        uploadProgress("progressbar-claim", "progressbar-text-claim", "claim-files", "progress-container-claim");
      });
 document.getElementById("purchasedItemsButton").addEventListener("click", () => {
        uploadProgress("progressbar-purchased", "progress-text-purchased", "purchased-files", "progress-container-purchased");
      });
  document.getElementById("paidItemsButton").addEventListener("click", () => {
        uploadProgress("progressbar-paid", "progress-text-paid", "paid-files", "progress-container-paid");
      });
  document.getElementById("inPlaceItemsButton").addEventListener("click", () => {
        uploadProgress("progressbar-inPlace", "progress-text-inPlace", "inPlace-files", "progress-container-inPlace");
      });
  document.getElementById("conditionsItemsButton").addEventListener("click", () => {
        uploadProgress("progressbar-conditions", "progress-text-conditions", "conditions-files", "progress-container-conditions");
      });

 </script>
{% endblock %}
