{% extends './layouts/layout.njk' %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block pageTitle %}Download application forms - {{ serviceName }}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    containerClasses: "app-width-container",
    serviceName: "Farming grants service",
    serviceUrl: "#",
    navigation: [{text:"Sign-out",href:"#"}]
  }) }}
{% endblock %}

{#    We need to add backLink later #}
{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    href: backLink,
    text: "Back"
  }) }}
{% endblock %}

{%block content%}
  <p class="govuk-body govuk-!-font-size-27">Submit first claim</p>
  <h1 class="govuk-heading-xl">Download claim form</h1>
  <div class="govuk-grid-row govuk-!-margin-top-8">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m govuk-!-margin-bottom-2">Form</h1>
      <p class="govuk-body ">Download the claim form and fill it in.</p>

      <div class="govuk-grid-column-full govuk-!-padding-left-0">
        <div class="img govuk-grid-column-one-quarter"></div>
        <div class="govuk-grid-column-two-thirds govuk-!-padding-left-5">
          <p class="govuk-!-font-size-27 govuk-!-margin-top-0 govuk-!-margin-bottom-3">

            <a href="https://devffcinfst1001.blob.core.windows.net/ffc-grants-water-dev/Water%20FA%20form.docx?sp=rw&st=2023-10-03T16:21:34Z&se=2025-02-28T01:21:34Z&sv=2022-11-02&sr=b&sig=6BK%2BERuRkmRxbQ%2FFwlKTSgLPWFn%2FL89h0qPyoDmoARo%3D">Grant claims form</a>

          </p>
          <span class="govuk-caption-m">
                        DOCX, 170 KB, 8 pages
           </span>
        </div>
        <div class="govuk-!-margin-top-6 govuk-!-padding-left-0 govuk-grid-column-full">
          {{ govukDetails({
  summaryText: "Request an accessible format",
  text: "Text must be added later..." 
}) }}
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--visible govuk-grid-column-full govuk-!-margin-top-3  govuk-!-margin-bottom-8" >

      <h1 class="govuk-heading-m govuk-!-margin-bottom-3 govuk-!-margin-top-5" >What you need to do</h1>
      <p class="govuk-body ">Download and complete the claim form.</p>

      <p class="govuk-body ">When you are ready, you can <a href="#">upload your claim form and evidence</a> and submit your claim.</p>
      {{ govukWarningText({
  text: "Do not upload handwritten and scanned copy or a PDF.",
  iconFallbackText: "Warning"
}) }}
      <hr class="govuk-section-break govuk-section-break--visible govuk-grid-column-full govuk-!-margin-top-6 govuk-!-margin-bottom-8">
      <h1 class="govuk-heading-m govuk-!-margin-bottom-4">Evidence you need to make a claim</h1>
      <p class="govuk-body">To make a claim,  You must provide evidence that each item you are claiming for:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-2 govuk-!-margin-top-6">
        <li>has been purchased(for example, invoices)</li>
        <li>has been paid for in full(for example, recipts and bank statements)</li>
        <li>is in place(for example, photos, videos)</li>
      </ul>
      <p class="govuk-!-margin-left-2 govuk-!-margin-top-6 govuk-!-margin-bottom-8">
        <a href="#" rel="noreferrer noopener" target="_blank">Check guidance on how to make a claim</a>
      </p>
      <div class="govuk-!-margin-top-8 govuk-!-padding-top-6">
        {{ govukButton({
  text: "Continue",
  href:"form-upload"
}) }}
      </div>
      {#--- Text must be added later... ---#}
      <div class="govuk-!-margin-top-6 govuk-!-margin-left-2">
        {{ govukDetails({
  summaryText: "Questions about your application",
  text: "Text must be added later..." 
}) }}</div>

    </div>
  </div>
  {%endblock%}