{% extends './layouts/layout.njk' %}

{% block pageTitle %}{{serviceName}}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Registration complete"
      }) }}

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">We’ll send you an email to confirm your registration.</p>
      <p class="govuk-body">We’ll contact you again with a link to start your application as soon as possible.</p>
      <p>You still need to complete an application so you have an agreement with us. You cannot make a claim without an agreement.</p>
      <p class="govuk-body">If you have any questions about your application, contact the Rural Payments Agency by email or phone.</p>
      
      {{ rpaContactDetails({email: ruralPaymentsAgency.email, callChargesUri: ruralPaymentsAgency.callChargesUri, telephone: ruralPaymentsAgency.telephone}) }}
    </div>
  </div>
{% endblock %}
